@keyframes info {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.projets{
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    list-style-type: none;
    margin-bottom: 100px;
}

.containImg:hover > .containInfo{
    visibility: visible;
    animation: info 1s ease 0s 1 normal forwards;
}

.containInfo{
    width: auto;
    height: 326px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    visibility: hidden;
}

.containInfo p{
    margin-left: 50px;
    margin-right: 50px;
}

.projets .images{
    height: 300px;
    width: auto;
    margin-bottom: 30px;
    margin-right: 20px;
}

.projets .imgdesktop{
    width: 400px;
    height: auto;
}

.voirplus{
    display: inline-block;
    margin-bottom: 50px;
    background-color: transparent;
    width: 100px;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.voirplus p{
    color: white;
}

.voirplus:hover{
    background-color: white;
    transition: 0.3s ease-in-out;
}

.voirplus:hover > p{
    color: #01C380;
    transition: 0.2s ease-in-out;
}

@media screen and (min-width : 1000px){
    .projets{
        width: 1000px;
    }
}