.containProjets h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: green;
}

.listProjets{
    width: 100%;
    display: grid;
}

.listProjets ul{
    margin: 0 auto;
    padding-right: 35px;
}

.listProjets li{
    list-style-type: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.autresImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.autresImg li{
    list-style-type: none;
}

.autresImg li img{
    width: 350px;
}

.siteVacances li img:hover{
    width: 500px;
}

.listProjets h2{
    color: green;
}

.listProjets h4{
    color: green;
}

.deployed{
    font-weight: bold;
    text-decoration: underline;
}

.listProjets img{
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.green{
    color: green;
    font-weight: bold;
}

.projet1containCadreHaut, .projet2containCadreHaut, .projet3containCadreHaut{
    margin-left: -150px;
    margin-bottom: -235px;
}

.projet1containCadreHaut, .projet2containCadreHaut, .projet3containCadreHaut{
    text-align: left;
    margin-top: 70px;
}

.projet1containCadreHaut img, .projet2containCadreHaut img, .projet3containCadreHaut img{
    width: 300px;
    transform : rotate(270deg);
    border: none;
}

.projet1containCadreBas img, .projet2containCadreBas img, .projet3containCadreBas img{
    width: 300px;
    transform : rotate(90deg);
    border: none;
}

.projet1containCadreBas, .projet2containCadreBas, .projet3containCadreBas{
    margin-right: -450px;
    margin-top: -195px;
}