@keyframes title {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myImage {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myPres {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.containPresentation{
    margin-left: 40px;
    margin-right: 40px;
}

.containPresentation span{
    color: #01C380;
    font-weight: bold;
}

.containPresentation h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    margin-right: 50px;
}

.containTitleImg{
    display: block;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.containTitleImg h1{
    animation: title 2s ease 0s 1 normal forwards;
}


.containTitleImg img{
    border-radius: 160px;
    width: 300px;
    animation: myImage 2s ease 0s 1 normal forwards;
}

.containPresentation p{
    font-size: 20px;
    text-align: left;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    animation: myPres 2s ease 0s 1 normal forwards;
}

.competences{
    margin-top: 150px;
    margin-bottom: 60px;
}

.containHardSkills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hardSkills{
    margin-right: 100px;
    text-align: left;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

.hardSkills ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 5px;
    width: 70%;
}

.hardSkills h4{
    text-align: center;
    font-size: 30px;
}

.hardSkills li{
    list-style-type: none;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.hardSkills li img{
    width: 70px;
}

@media screen and (max-width: 824px){
    .hardSkills{
        margin-right: 0;
    }

    .containImgTitle{
        display: block;
    }
}

@media screen and (min-width: 1300px){
    .containTitleImg{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .containPresentation h1{
        text-align: justify;
    }

    .containPresentation p{
        text-align: justify;
    }
}