.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

#containName{
    font-weight: bold;
    padding: 10px;
    border-radius: 40px;
    width: 40px;
    height: auto;
}

#containName a {
    height: 40px;
}

#containName p{
    color: #01C380;
    margin-top: 9px;
    font-style: italic;
    font-size: 25px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li{
    list-style-type: none;
    text-decoration: none;
    margin-right: 100px;
    padding: 20px;
    border-radius: 25px;
}

.menu a{
    display: inline-block;
    color: white;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
}

.menu li:hover{
    background-color: white;
}

.menu li:hover > a{
    color: #01C380;
}

@media screen and (max-width: 824px){
    .menu{
        display: block;
    }

    .menu ul{
        display: block;
    }

    .menu li {
        margin-bottom: 20px;
        margin-left: 40px;
    }
}